.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: white;
  position: relative;

  .top {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7251b5;

    .logo {
      font-size: 25px;
      font-weight: bold;
      color: #dec9e9;
    }
  }

  hr {
    border: 2px solid #7251b5;
    width: 75%;
    text-align: center;
    margin: auto;
  }

  .center {
    padding-left: 10px;
    padding-bottom: 20px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 18px;
        font-weight: bold;
        color: #6247aa;
        margin-top: 15px;
        margin-bottom: 5px;
        padding-left: 8px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 10px 5px;
        cursor: pointer;

        &:hover {
          background-color: #ece8ff;
        }

        .icon {
          font-size: 25px;
          color: #6247aa;
        }

        span {
          font-size: 17px;
          font-weight: 600;
          color: #6247aa;
          margin-left: 10px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    padding: 20px 20px 0px 20px;
    justify-content: space-between;

    .smallOptions {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .smallOptions span {
      font-size: 14px;
      font-weight: 600;
      color: #6247aa;
    }

    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 2px solid #6247aa;
      cursor: pointer;
      margin: 5px;
    }

    .colorDark {
      background-color: #333;
    }
  }

  .sidebarSides {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 25px;
    cursor: pointer;
    border: 1px solid #7251b5;
  }

  .iconSides {
    color: #dec9e9;
    font-size: 30px;
    cursor: pointer;
  }

  .spanSides {
    color: #dec9e9;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
  }

  .sidebarSides:hover {
    border: 1px solid #dec9e9;
    border-radius: 7px;
  }

  .sidebarBottom {
    position: absolute;
    bottom: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7251b5;
    width: 100%;
  }
}
