.datatable {
  height: 600px;
  padding: 20px;
  background-color: #dec9e9;

  .datatableTitle {
    width: 100%;
    font-size: 24px;
    color: #6247aa;
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .datatableIcons {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .link {
      text-decoration: none;
      color: #7251b5;
      font-size: 14px;
      font-weight: 500;
      border: 1px solid #7251b5;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }

    .link:hover {
      background-color: #7251b5;
      color: #dec9e9;
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: #6247aa;
      border: 1px dotted #543e91;
      cursor: pointer;
    }

    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.6);
      cursor: pointer;
    }
  }
}

.activeState {
  background-color: #ecf39e;
}

.inactiveState {
  background-color: #f94144cb;
}

.datagrid {
  background-color: white;
  box-shadow: 3px 3px 4px 1px rgba(114, 114, 114, 0.47);
}
