.secondFooter {
  background-color: #dec9e9;
  height: 70px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thirdFooter {
  height: 70px;
  background-color: #7251b5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
  font-weight: bold;
  color: #dec9e9;
}

.listStudents {
  display: flex;
  gap: 55px;
  margin-right: 39px;
}

li {
  color: #7251b5;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-type: none;
}

li > span {
  font-weight: bold;
}
