html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.login {
  height: 4000px;
  width: 100%;
  background-color: #7251b5;
  position: fixed;
}

.lContainer {
  position: absolute;
  top: 500px;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: #dec9e9;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.lContainer h2 {
  margin: 0 0 40px;
  padding: 0;
  color: #6247aa;
  text-align: center;
}

.lContainer .user-box {
  position: relative;
}

.lContainer .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #6247aa;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #6247aa;
  outline: none;
  background: transparent;
}

.lContainer .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #6247aa;
  pointer-events: none;
  transition: 0.5s;
}

.lContainer .user-box input:focus ~ label,
.lContainer .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #6247aa;
  font-size: 12px;
}

.login button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #6247aa;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background-color: transparent;
  border: 2px solid #6247aa;
  border-radius: 8px;
  cursor: pointer;
}

.login button:hover {
  background: #c19ee0;
  color: #6247aa;
  border-radius: 8px;
  box-shadow: 0 0 5px #c19ee0, 0 0 25px #c19ee0, 0 0 50px #c19ee0,
    0 0 100px #c19ee0;
}

.homePageButton2 {
  padding: 5px !important;
  border: 1px solid #7251b5 !important;
  font-size: 14.5px !important;
  letter-spacing: 3px !important;
}

.errorMsg2 {
  padding: 5px;
  font-size: 13px;
  margin-left: 10px;
  font-weight: 500;
}
